---
import { clsx } from 'clsx/lite'

interface Props {
  href: string
  class?: string
  [key: string]: any
}

const { href, class: className, ...props } = Astro.props
---
<a
  href={href}
  class={clsx(
    'group inline-flex items-center justify-between gap-2 text-3xl/10 font-medium text-olive-950 lg:text-sm/7 dark:text-white',
    className,
  )}
  {...props}
>
  <slot />
  <span class="inline-flex p-1.5 opacity-0 group-hover:opacity-100 lg:hidden" aria-hidden="true">
    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
    </svg>
  </span>
</a>
