---
import Section from '../elements/section.astro'

interface Props {
  [key: string]: any
}
---
<Section {...Astro.props}>
  <slot name="eyebrow" slot="eyebrow" />
  <slot name="headline" slot="headline" />
  <slot name="subheadline" slot="subheadline" />
  <slot name="cta" slot="cta" />
  <div class="grid grid-cols-1 gap-2 sm:has-[>:nth-child(5)]:grid-cols-2 sm:max-lg:has-[>:last-child:nth-child(even)]:grid-cols-2 lg:auto-cols-fr lg:grid-flow-col lg:grid-cols-none lg:has-[>:nth-child(5)]:grid-flow-row lg:has-[>:nth-child(5)]:grid-cols-3">
    <slot name="plans" />
    <slot />
  </div>
</Section>
