---
import { clsx } from 'clsx/lite'

interface Props {
  href: string
  name: string
  class?: string
  [key: string]: any
}

const { href, name, class: className, ...props } = Astro.props
---
<a
  href={href}
  target="_blank"
  aria-label={name}
  class={clsx('text-olive-950 *:size-6 dark:text-white', className)}
  {...props}
>
  <slot />
</a>
