---
import { clsx } from 'clsx/lite'

interface Props {
  stat?: string
  text?: string
  class?: string
  [key: string]: any
}

const { stat, text, class: className, ...props } = Astro.props
---
<div class={clsx('border-l border-olive-950/20 pl-6 dark:border-white/20', className)} {...props}>
  <div class="text-2xl/10 tracking-tight text-olive-950 dark:text-white">
    {stat || <slot name="stat" />}
  </div>
  <p class="mt-2 text-sm/7 text-olive-700 dark:text-olive-400">
    {text || <slot name="text" />}
  </p>
</div>
