---
import Base from '../layouts/Base.astro'
import ButtonLink from '../components/elements/ButtonLink.astro'
import PlainButtonLink from '../components/elements/PlainButtonLink.astro'
import Link from '../components/elements/link.astro'
import Main from '../components/elements/main.astro'
import ArrowNarrowRightIcon from '../components/icons/arrow-narrow-right-icon.astro'
import GitHubIcon from '../components/icons/social/github-icon.astro'
import XIcon from '../components/icons/social/x-icon.astro'
import YouTubeIcon from '../components/icons/social/youtube-icon.astro'
import FooterCategory from '../components/sections/FooterCategory.astro'
import FooterLink from '../components/sections/FooterLink.astro'
import FooterWithNewsletterFormCategoriesAndSocialIcons from '../components/sections/FooterWithNewsletterFormCategoriesAndSocialIcons.astro'
import NewsletterForm from '../components/sections/NewsletterForm.astro'
import SocialLink from '../components/sections/SocialLink.astro'
import HeroSimpleLeftAligned from '../components/sections/HeroSimpleLeftAligned.astro'
import NavbarLink from '../components/sections/NavbarLink.astro'
import NavbarLogo from '../components/sections/NavbarLogo.astro'
import NavbarWithLinksActionsAndCenteredLogo from '../components/sections/NavbarWithLinksActionsAndCenteredLogo.astro'
---

<Base hideHeaderFooter={true} title="Page not found" description="Sorry, but the page you were looking for could not be found.">
  <NavbarWithLinksActionsAndCenteredLogo id="navbar">
    <Fragment slot="links">
      <NavbarLink href="#">Pricing</NavbarLink>
      <NavbarLink href="#">About</NavbarLink>
      <NavbarLink href="#">Docs</NavbarLink>
      <NavbarLink href="/_emdash/admin" class="sm:hidden">Log in</NavbarLink>
    </Fragment>
    <NavbarLogo slot="logo" href="#">
      <img
        src="/img/logos/oatmeal-instrument-color-olive-950.svg"
        alt="Oatmeal"
        class="dark:hidden"
        width={85}
        height={28}
      />
      <img
        src="/img/logos/oatmeal-instrument-color-white.svg"
        alt="Oatmeal"
        class="not-dark:hidden"
        width={85}
        height={28}
      />
    </NavbarLogo>
    <Fragment slot="actions">
      <PlainButtonLink href="/_emdash/admin" class="max-sm:hidden">Log in</PlainButtonLink>
      <ButtonLink href="#">Get started</ButtonLink>
    </Fragment>
  </NavbarWithLinksActionsAndCenteredLogo>

  <Main>
    <HeroSimpleLeftAligned headline="Page not found">
      <p slot="subheadline">Sorry, but the page you were looking for could not be found.</p>
      <Link slot="cta" href="#">
        Go back home <ArrowNarrowRightIcon />
      </Link>
    </HeroSimpleLeftAligned>
  </Main>

  <FooterWithNewsletterFormCategoriesAndSocialIcons id="footer">
    <NewsletterForm
      slot="cta"
      headline="Stay in the loop"
      subheadline="Get customer support tips, product updates and customer stories that you can archive as soon as they arrive."
      action="#"
    />
    <Fragment slot="links">
      <FooterCategory title="Product">
        <FooterLink href="#">Features</FooterLink>
        <FooterLink href="#">Pricing</FooterLink>
        <FooterLink href="#">Integrations</FooterLink>
      </FooterCategory>
      <FooterCategory title="Company">
        <FooterLink href="#">About</FooterLink>
        <FooterLink href="#">Careers</FooterLink>
        <FooterLink href="#">Blog</FooterLink>
        <FooterLink href="#">Press Kit</FooterLink>
      </FooterCategory>
      <FooterCategory title="Resources">
        <FooterLink href="#">Help Center</FooterLink>
        <FooterLink href="#">API Docs</FooterLink>
        <FooterLink href="#">Status</FooterLink>
        <FooterLink href="#">Contact</FooterLink>
      </FooterCategory>
      <FooterCategory title="Legal">
        <FooterLink href="#">Privacy Policy</FooterLink>
        <FooterLink href="#">Terms of Service</FooterLink>
        <FooterLink href="#">Security</FooterLink>
      </FooterCategory>
    </Fragment>
    <Fragment slot="socialLinks">
      <SocialLink href="https://x.com" name="X">
        <XIcon />
      </SocialLink>
      <SocialLink href="https://github.com" name="GitHub">
        <GitHubIcon />
      </SocialLink>
      <SocialLink href="https://www.youtube.com" name="YouTube">
        <YouTubeIcon />
      </SocialLink>
    </Fragment>
    <span slot="fineprint">© 2025 Oatmeal, Inc.</span>
  </FooterWithNewsletterFormCategoriesAndSocialIcons>
</Base>
